@page "/ladybot"
@using LadyBot.Implementation
@using LadyBot.Program
@inject LadyBotProgram Program

<h3>LadyBotPage</h3>

<LadyBotRun Width="10" Height="10" />

@code
{
    #region Overrides of ComponentBase

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Program.AddCommand(LadyBotCommand.MoveUp);
        Program.AddCommand(LadyBotCommand.MoveLeft);
        Program.AddCommand(LadyBotCommand.MoveRight);
        Program.AddCommand(LadyBotCommand.MoveDown);
    }

    #endregion
}
