@using LadyBot.Program
@namespace LadyBot.Implementation
@inject LadyBotProgram Program
@inject LadyBotProgramState ProgramState
@inject LadyBotMap Map

<svg viewBox="-0.1 -0.1 @(this.Map.Width).1 @(this.Map.Height).1" style="width: auto; height: auto; max-width: 100%; max-height: 80vh">
    @for (int y = 0; y < this.Map.Height; y++)
    {
        @for (int x = 0; x < this.Map.Width; x++)
        {
            <rect x="@x" y="@y" width="1" height="1" style="stroke: black; stroke-width: 1px; opacity: 1; fill: none" vector-effect="non-scaling-stroke" />
        }
    }

    <LadyBotCharacter @ref="this.aLadyBot" />
</svg>

<LadyBotProgramListing />

<button @onclick="this.RunProgramAsync">Run</button>

@code
{
    private LadyBotCharacter aLadyBot;

    public async Task RunProgramAsync()
    {
        this.aLadyBot.Reset();
        foreach (var (idx, command) in this.Program.Select((x, idx) => (idx, x)))
        {
            this.ProgramState.SetCurrentIndex(idx);

            this.StateHasChanged();

            switch (command)
            {
                case LadyBotCommand.MoveForward:
                    await this.aLadyBot.MoveForward();
                    break;
                case LadyBotCommand.RotateLeft:
                    await this.aLadyBot.RotateLeft();
                    break;
                case LadyBotCommand.RotateRight:
                    await this.aLadyBot.RotateRight();
                    break;
                case LadyBotCommand.MoveLeft:
                    await this.aLadyBot.Rotate(Rotation.Left);
                    await this.aLadyBot.MoveForward();
                    break;
                case LadyBotCommand.MoveRight:
                    await this.aLadyBot.Rotate(Rotation.Right);
                    await this.aLadyBot.MoveForward();
                    break;
                case LadyBotCommand.MoveUp:
                    await this.aLadyBot.Rotate(Rotation.Up);
                    await this.aLadyBot.MoveForward();
                    break;
                case LadyBotCommand.MoveDown:
                    await this.aLadyBot.Rotate(Rotation.Down);
                    await this.aLadyBot.MoveForward();
                    break;
                default:
                    throw new ArgumentOutOfRangeException();
            }
        }
        this.ProgramState.Reset();
    }
}
