@using LadyBot.Program
@inject LadyBotProgram Program
@inject LadyBotMap Map

<div class="keyboard">
    @switch (this.Map.KeyboardType)
    {
        case KeyboardType.Directional:
            <img src="/_content/LadyBot.Implementation/commands/move_up.svg" class="top"/>
            <img src="/_content/LadyBot.Implementation/commands/move_down.svg" class="bottom"/>
            <img src="/_content/LadyBot.Implementation/commands/move_left.svg" class="bottom-left"/>
            <img src="/_content/LadyBot.Implementation/commands/move_right.svg" class="bottom-right"/>
            break;
        case KeyboardType.Rotational:
            <img src="/_content/LadyBot.Implementation/commands/move_up.svg" class="top"/>
            <img src="/_content/LadyBot.Implementation/commands/rotate_left.svg" class="bottom-left"/>
            <img src="/_content/LadyBot.Implementation/commands/rotate_right.svg" class="bottom-right"/>
            break;
        default:
            throw new ArgumentOutOfRangeException();
    }
</div>